<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ou.springbootmybatis.mapper.UserMapper">

    <!--根据用户的userId查询出此用户-->
    <select id="selectById" parameterType="String" resultType="com.ou.springbootmybatis.entity.User">
     select u.id,u.userId,u.userName,u.password,u.userRemarks from sys_user as u where u.userId=#{userId}
    </select>

    <!--根据用户的userName查询出此用户-->
    <select id="selectByName" parameterType="String" resultType="com.ou.springbootmybatis.entity.User">
        select u.id,u.userId,u.userName,u.password,u.userRemarks from sys_user as u where u.userName=#{userName}
    </select>

    <!--根据用户的用户名查询角色-->
    <select id="selectByNameRole" parameterType="String" resultType="String">
        select r.roleName as name from sys_role as r,user_role as ur,sys_user u where u.userid=ur.userid and ur.roleid=r.roleid and u.userName=#{userName}
    </select>

    <!--根据用户的角色id查询权限-->
    <select id="selectByNamePermission" parameterType="String" resultType="String">
        select p.perId from sys_permissions as p,sys_role as r,role_per as rp where r.roleid=rp.roleid and p.perId=rp.perId and r.roleid=#{roleid}
    </select>

    <!--根据用户的userId查询出其对应的角色以及角色相关的所有权限-->
    <select id="selectUserPermissionById" parameterType="String" resultType="java.util.LinkedHashMap">
        SELECT u.userId,u.userName,u.password,u.userRemarks,
         r.roleName,
         r.roleRemarks,
         GROUP_CONCAT(p.permissionsName)permissionsNameList,
         GROUP_CONCAT(p.perRemarks)perRemarksList
         FROM
         sys_user u,sys_role r,sys_permissions p,user_role ur,role_per rp
         WHERE
         u.userId=ur.userId AND
         ur.roleId=r.roleId AND
         r.roleId=rp.roleId AND
         rp.perId=p.perId   AND
         u.userId=#{userId}
         GROUP BY u.id
    </select>


    <!--根据用户的userName查询出其对应的角色以及角色相关的所有权限-->
    <select id="selectUserPermissionByName" parameterType="String" resultType="java.util.LinkedHashMap">
        SELECT u.userId,u.userName,u.password,u.userRemarks,
        r.roleName,
        r.roleRemarks,
        GROUP_CONCAT(p.permissionsName)permissionsNameList,
        GROUP_CONCAT(p.perRemarks)perRemarksList
        FROM
        sys_user u,sys_role r,sys_permissions p,user_role ur,role_per rp
        WHERE
        u.userId=ur.userId AND
        ur.roleId=r.roleId AND
        r.roleId=rp.roleId AND
        rp.perId=p.perId   AND
        u.userName=#{userName}
        GROUP BY u.id
    </select>

    <insert id="insetUser" parameterType="com.ou.springbootmybatis.entity.User">
        INSERT into sys_user
        (userId,userName,password,userRemarks)
         VALUES
        (#{user.userId},#{user.userName},#{user.password},#{user.userRemarks})
    </insert>
</mapper>
